.section-faq {
  //background: url(https://demo.ticksify.com/img/background-header.jpg);
  //background: url("/img/bg2.svg") center;
  background-color: #F8FAFB;
  background-size: cover;
  padding: 150px 0;
  text-align: center;

  h3 {
    font-size: 20px;
    margin-bottom: 50px;
  }
}